<!DOCTYPE doctype html>
<html class="h-100" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="" name="description">
	<title>
		My Test
	</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	</link>
	</link>
	</meta>
	</meta>
	</meta>
</head>

<body class="d-flex flex-column h-100">
	<header class="mb-5">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">
				Navbar
			</a>
			<button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon">
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">
								(current)
							</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Begin page content -->
	<main class="flex-shrink-0" role="main">
		<div class="container shadow p-3 mb-5 bg-white rounded mt-5">
			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
				<div class="px-2">
					<form id="my-form">
						<fieldset>
							<div class="form-group">
								<label for="player1Name">
									Player 1 Name
								</label>
								<input class="form-control" name="player1Name" id="player1Name"
									placeholder="Player 1 Name" type="text">
								</input>
								<div class="invalid-feedback" id="player1NameError">
									Please enter player name.
								</div>
							</div>
							<div class="form-group">
								<label for="player2Name">
									Player 2 Name
								</label>
								<input class="form-control" name="player2Name" id="player2Name"
									placeholder="Player 2 Name" type="text">
								</input>
								<div class="invalid-feedback" id="player2NameError">
									Please enter player name.
								</div>
							</div>
							<button class="btn btn-primary next" type="button">
								Continue
							</button>
						</fieldset>

						<fieldset>
							<div class="form-group row">
								<label class="col-form-label player1Namelabel"></label>
								<div class="col-sm-6">
									<button class="btn btn-primary player1Counter" type="button">
										Add Win
									</button>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label">Wins:</label>
								<div class="col-sm-6">
									<label class="col-form-label Player1WinCount">0</label>
									<input type="hidden" name="Player1WinCount" id="Player1WinCount"></input>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label player2Namelabel"></label>
								<div class="col-sm-6">
									<button class="btn btn-primary player2Counter" type="button">
										Add Win
									</button>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label">Wins:</label>
								<div class="col-sm-6">
									<label class="col-form-label Player2WinCount">0</label>
									<input type="hidden" name="Player2WinCount" id="Player2WinCount"></input>
								</div>
							</div>

							<hr />

							<div class="form-group row">
								<label class="col-form-label">Current winner:</label>
								<div class="col-sm-6">
									<label class="col-form-label winner-name"></label>
									<input type="hidden" name="winner-name" id="winner-name"></input>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label">With difference:</label>
								<div class="col-sm-6">
									<label class="col-form-label winning-difference"></label>
									<input type="hidden" name="winning-difference" id="winning-difference"></input>
								</div>
							</div>
							<div class="form-group row">
								<button class="btn btn-primary next final" type="button">
									Save Game
								</button>
							</div>
						</fieldset>

						<fieldset>
							<p>Game Saved Successfully</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		</div>
	</main>
	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">
				Place sticky footer content here.
			</span>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="/static/js/bootstrap.min.js">
	</script>
	<script src="/static/js/custom.js">
	</script>
</body>

</html>